.green-gradient{
  background: rgb(0,135,95);
  background: radial-gradient(circle, rgba(0,135,95,1) 13%, rgba(30,61,52,1) 61%, rgba(15,34,28,1) 84%, rgba(0,0,0,1) 100%);
}

.elipse-1{
  position: absolute;
  width: 281.71px;
  height: 282.04px;
  left: 143px;
  top: 145px;
  background: #81D8F7;
  opacity: 0.45;
  filter: blur(158.5px);
}
