@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;900&display=swap');

* {
  @apply m-0 p-0 outline-0 box-border;
}

body {
  @apply min-h-screen;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body, #root {
  @apply h-full bg-[#121214];
}

a {
  @apply no-underline;
}

ul {
  @apply list-none;
}

label{
  @apply font-bold block;
}

input {
  @apply bg-slate-50 border rounded-md py-1 px-2;
}

input:disabled  {
  @apply bg-slate-200 border rounded-md py-1 px-2;
}

textarea {
  @apply bg-slate-50 border rounded-md py-1 px-2;
}

select {
  @apply bg-slate-50 border rounded-md py-1 px-2;
}

::-webkit-scrollbar {
  display: none;
}

/* --CONTAINERS-- */
.container-body{
  @apply flex flex-col gap-[17] pl-20 pr-10 py-3 min-w-[670px]
}

/* --BUTTONS-- */
.btn{
  @apply bg-verde-100 hover:bg-verde-200 text-white font-semibold py-2 px-4 rounded-xl shadow m-1
}

.green-btn {
  @apply bg-transparent hover:bg-verde-100 text-verde-100 font-semibold hover:text-white
  py-2 px-4 border border-verde-100 hover:border-transparent rounded-xl
}

.blue-btn{
  @apply bg-transparent hover:bg-blue-600 text-blue-500 font-semibold hover:text-white
  py-0 px-3 border border-blue-500 hover:border-transparent rounded-xl
}

.red-btn{
  @apply bg-transparent hover:bg-vermelho-100 text-vermelho-100 font-semibold hover:text-white
  py-2 px-4 border border-vermelho-100 hover:border-transparent rounded-xl
}

.yellow-btn{
  @apply bg-transparent hover:bg-laranja-100 text-laranja-100 font-semibold hover:text-white
  py-2 px-4 border border-laranja-100 hover:border-transparent rounded-xl
}

.round-blue-btn{
  @apply py-3 px-3 rounded-full shadow text-white bg-azul-100 hover:bg-blue-700
}

.round-red-btn{
  @apply py-3 px-3 rounded-full shadow text-white  bg-vermelho-100 hover:bg-red-700
}
/* --BUTTONS-- */

/* --SEARCH-- */
.title{
  @apply text-[#00B37E] ml-10 mb-2 text-2xl font-semibold tracking-wide
}

.search-container{
  @apply bg-[#1E1E1E] shadow-xl pt-[10px] w-[100%] items-center rounded-b-3xl
}

.search-title{
  @apply text-[#FFFFFF] mb-[-10px] ml-8
}

.search-form{
  @apply flex items-center p-1 m-2 justify-around
}

.search-input{
  @apply bg-slate-50 border w-[20%] rounded-full px-2 pl-3 text-start
}
/* --SEARCH-- */

/* .form-gestao{
  @apply flex flex-col justify-center mx-auto w-[450px] gap-1
} */

/* .container-usuario input, .container-usuario select, .form-usuario input, .form-usuario select{
  @apply w-full bg-red-400
} */

table{
  @apply w-[100%]
}

thead{
  @apply bg-[#00B37E] text-white items-center m-4
}

thead tr {
  @apply items-center p-1 m-3 border-2 border-[#09090A]
}

tbody tr {
  @apply even:bg-gray-100 odd:bg-white hover:bg-gray-200 border-[5px] border-[#09090A]
}

th {
  @apply p-3 font-semibold tracking-wide text-center
}

td {
  @apply p-3 text-gray-700 text-center whitespace-nowrap
}