@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;900&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  @apply m-0 p-0 outline-0 box-border;
}

body {
  @apply min-h-screen;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', inherit;
  -webkit-font-smoothing: antialiased;
}

html, body, #root {
  @apply h-full bg-cinza-500;
}

a {
  @apply no-underline;
}

ul {
  @apply list-none;
}

label{
  @apply font-bold block;
}

input {
  @apply border rounded-md py-1 px-2 h-8 text-cinza-300;
}

input:disabled  {
  @apply border rounded-md py-1 px-2;
}

textarea {
  @apply border rounded-md py-1 px-1;
}

select {
  @apply border rounded-md py-1 px-2 h-8 text-cinza-300;
}


/* A SER ESTILIZADO AINDA */
::-webkit-scrollbar {
  display: none;
}

/* --CONTAINERS-- */
.container-body{
  @apply flex flex-col gap-[17] pl-20 pr-10 py-3 min-w-[670px]
}

/* --BUTTONS-- */
.btn{
  @apply bg-verde-100 hover:bg-verde-200 text-white font-semibold py-2 px-4 rounded-xl shadow m-1
}

.green-btn {
  @apply bg-verde-100 hover:bg-verde-200 text-cinza-100
  py-2 px-3 border border-verde-100 hover:border-transparent rounded-full
}

.blue-btn{
  @apply bg-transparent hover:bg-blue-600 text-blue-500 font-semibold hover:text-white
  py-0 px-3 border border-blue-500 hover:border-transparent rounded-xl
}

.red-btn{
  @apply bg-vermelho-100 hover:bg-vermelho-200 text-cinza-100
  py-2 px-2 border border-vermelho-100 hover:border-transparent rounded-full
}

.yellow-btn{
  @apply bg-transparent hover:bg-laranja-100 text-laranja-100 font-semibold hover:text-white
  py-2 px-4 border border-laranja-100 hover:border-transparent rounded-xl
}

.round-blue-btn{
  @apply py-3 px-3 rounded-full shadow text-white bg-azul-100 hover:bg-blue-700
}

.round-red-btn{
  @apply py-3 px-3 rounded-full shadow text-white  bg-vermelho-100 hover:bg-red-700
}

.round-green-btn{
  @apply bg-verde-100 hover:bg-verde-200 text-cinza-100
  py-2 px-2 border border-verde-100 hover:border-transparent rounded-full
}

/* --BUTTONS-- */

/* --SEARCH-- */
.top-forms-container{
  @apply w-full flex justify-between items-center
}

.title{
  @apply text-verde-100 mb-2 text-xl font-medium tracking-wide
}

.search-container{
  @apply bg-[#323238] w-3/4 p-3 rounded-xl shadow-md shadow-zinc-700
}

.search-form{
  @apply flex items-center justify-between
}

.search-container-inputs{
  @apply w-3/4
}

.search-container-buttons{
  @apply flex gap-2
}

.search-input{
  @apply border w-52 rounded-full text-start mr-2
}

/* --SEARCH-- */

/* .form-gestao{
  @apply flex flex-col justify-center mx-auto w-[450px] gap-1
} */

/* .container-usuario input, .container-usuario select, .form-usuario input, .form-usuario select{
  @apply w-full bg-red-400
} */

table{
  @apply w-[100%]
}

thead{
  @apply bg-[#00B37E] text-white items-center m-4
}

thead tr {
  @apply items-center p-1 m-3 border-2 border-[#1f1f23]
}

tbody tr {
  @apply even:bg-gray-100 odd:bg-white hover:bg-gray-200 border-4 border-[#1E1E1E]
}

th {
  @apply p-3 font-semibold tracking-wide text-center
}

td {
  @apply p-3 text-gray-700 text-center whitespace-nowrap
}
