@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;900&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  @apply m-0 p-0 outline-0 box-border;
}

body {
  @apply min-h-screen h-full bg-cinza-500 flex flex-col;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

footer {
  @apply mt-auto text-center bg-transparent z-0 opacity-80 h-12 pt-4 pb-8 border-t w-full border-cinza-300 text-gray-50 text-sm
}

a {
  @apply no-underline;
}

ul {
  @apply list-none;
}

label{
  @apply font-bold block;
}

input {
  @apply border rounded-md py-1 px-2 h-8 text-cinza-300 text-sm;
}

input:disabled  {
  @apply border rounded-md py-1 px-2;
}

textarea {
  @apply border rounded-md py-1 px-1;
}

select {
  @apply border rounded-md py-1 px-2 h-8 text-cinza-300 text-sm;
}


/* SCROLL */
::-webkit-scrollbar {
  @apply w-2
}
::-webkit-scrollbar-track {
  @apply bg-transparent
}
::-webkit-scrollbar-thumb {
  @apply rounded-3xl bg-zinc-500 hover:bg-zinc-400
}

/* --CONTAINERS-- */
.container-body{
  @apply flex flex-col gap-[17] pl-20 pr-10 py-3 min-w-[670px] min-h-[90%]
}

/* --BUTTONS-- */
.btn{
  @apply bg-verde-100 hover:bg-verde-200 text-white font-semibold py-2 px-4 rounded-xl shadow-md m-1 duration-200
}

.green-btn {
  @apply bg-verde-100 hover:bg-verde-200 text-cinza-100 shadow-md
  py-2 px-2 border border-verde-100 hover:border-transparent rounded-full duration-200
}

.blue-btn{
  @apply bg-transparent hover:bg-blue-600 text-blue-500 font-semibold hover:text-white
  py-0 px-3 border border-blue-500 hover:border-transparent rounded-xl duration-200 shadow-md
}

.red-btn{
  @apply bg-vermelho-100 hover:bg-vermelho-200 text-cinza-100 shadow-md
  py-2 px-2 border border-vermelho-100 hover:border-transparent rounded-full duration-200
}

.yellow-btn{
  @apply bg-transparent hover:bg-laranja-100 text-laranja-100 font-semibold hover:text-white
  py-2 px-4 border border-laranja-100 hover:border-transparent rounded-xl duration-200 shadow-md
}

.round-blue-btn{
  @apply py-3 px-3 rounded-full text-white bg-azul-100 hover:bg-blue-700 duration-200 shadow-md
}

.round-red-btn{
  @apply py-3 px-3 rounded-full text-white  bg-vermelho-100 hover:bg-red-700 duration-200 shadow-md
}

.round-green-btn{
  @apply bg-verde-100 hover:bg-verde-200 text-cinza-100 shadow-md
  py-2 px-2 border border-verde-100 hover:border-transparent rounded-full duration-200
}
.round-blue-btn{
  @apply bg-azul-100 hover:bg-azul-200 text-cinza-100 shadow-md
  py-2 px-2 border border-azul-100 hover:border-transparent rounded-full duration-200
}
/* --BUTTONS-- */

/* --SEARCH-- */
.top-forms-container{
  @apply w-full flex justify-between items-center
}

.title{
  @apply text-verde-100 mb-2 text-xl font-medium tracking-wide
}

.search-container{
  @apply bg-cinza-400 w-full p-3 rounded-xl shadow-md
}

.search-form{
  @apply flex items-center justify-between
}

.search-container-buttons{
  @apply flex gap-2
}

.search-input{
  @apply border w-52 rounded-full text-start mr-2
}

.search-container-cadastrar{
  @apply flex justify-center items-center w-1/4
}
/* --SEARCH-- */

/* --CONTAINER LIST-- */
.container-order{
  @apply mt-4 mb-8 ml-2
}
.container-list{
  @apply text-cinza-200
}
.list{
  @apply w-full shadow-md rounded-lg py-4 pl-6 pr-8 mb-3 bg-cinza-400 flex justify-between items-center
}
.container-information-list{
  @apply flex
}
.cod-container-list{
  @apply py-2 w-12 flex justify-center
}
.cpf-container-list{
  @apply py-2 w-32 flex justify-center
}
.bar-container-list{
  @apply bg-verde-100 w-[0.15em] h-10 rounded-xl mx-2
}
.name-container-list{
  @apply py-2
}
.subname-container-list-blue{
  @apply text-sm text-azul-100 rounded-xl px-1 pb-[2px] ml-3 bg-azul-200 
}
.subname-container-list-orange{
  @apply text-sm text-laranja-100 rounded-xl px-1 pb-[2px] ml-3 bg-laranja-200 
}
.subname-container-list-red{
  @apply text-sm text-cinza-500 rounded-xl px-1 pb-[2px] ml-3 bg-vermelho-200
}
.buttons-container-list{
  @apply flex gap-2
}

/* --CONTAINER LIST-- */

/* .form-gestao{
  @apply flex flex-col justify-center mx-auto w-[450px] gap-1
} */

/* .container-usuario input, .container-usuario select, .form-usuario input, .form-usuario select{
  @apply w-full bg-red-400
} */

table{
  @apply w-full
}

thead{
  @apply bg-[#00B37E] text-white items-center m-4
}

thead tr {
  @apply items-center p-1 m-3
}

tbody tr {
  @apply even:bg-gray-100 odd:bg-white hover:bg-gray-200 border-4 border-[#323238]
}

th {
  @apply py-2 font-semibold tracking-wide
}

td {
  @apply text-gray-700 text-left whitespace-nowrap pl-1
}


/* SEARCH CONTAINER TITLE */
.SearchFormTitle{
  @apply flex items-center
}
.SearchInput{
  @apply flex items-center bg-cinza-100 rounded-2xl px-2 mb-2
}
.SearchInput input{
  @apply bg-transparent border-none
}
.SearchInput button{
  @apply hover:text-verde-100 duration-200
}