.Modal {
  @apply absolute top-[5%] bg-cinza-500 shadow-lg py-3 px-5 
  min-w-[42.5em] max-w-min rounded-md max-h-[38em]
}


.Modal .ModalHeader{
  @apply flex font-medium text-lg justify-between select-none 
}
.Modal .CloseModal{
  @apply text-cinza-100 hover:text-cinza-300 cursor-pointer transition-all
}
.Modal .ModalHeader span{
  @apply text-cinza-100 font-light
}
.InformationP{
  @apply font-extralight text-xs text-cinza-100
}


.Modal .ModalContent{
  @apply py-2 text-cinza-100 h-full w-full 
}
.ModalBar{
  @apply mx-2
}
.FormInput{
  @apply flex
}
.FormInputGestao{
  @apply w-full
}
.Modal .InputArea{
  @apply bg-cinza-350 my-2 pt-1 px-3 rounded-md text-verde-100 border-b-2 border-verde-100 w-full
  focus-within:border-verde-200 transition-all select-none
}
.Modal .InputArea .ModalInput, .Modal .InputArea select, .Modal .InputArea textarea {
  @apply border-none text-cinza-200 bg-cinza-350 w-full focus-within:text-cinza-100 text-sm
}
.Modal label{
  @apply text-sm font-extralight
}


.RedBtn{
  @apply bg-vermelho-100 w-28 py-1 rounded-lg text-cinza-500 font-semibold
  hover:bg-vermelho-200 hover:text-cinza-100 hover:font-normal transition-all shadow-md
}
.GreenBtn{
  @apply bg-verde-100 w-28 py-1 text-cinza-500 rounded-lg font-semibold
  hover:bg-verde-200 hover:text-cinza-100 hover:font-normal transition-all shadow-md
}
.GrayBtn{
  @apply bg-cinza-300 text-cinza-500 w-28 py-1 rounded-lg font-semibold
  hover:bg-gray-500 hover:font-normal hover:text-cinza-100 transition-all shadow-md
}


.Modal .ModalFooter{
  @apply flex justify-end gap-3 pt-3
}
.FormDelete{
  @apply py-4 text-sm 
}


.Overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black/60 flex justify-center backdrop-blur-md
}

.Modal .InputArea input:disabled  {
  @apply text-cinza-300 cursor-not-allowed;
}