
.navbar{
  background-color: #000;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  position: relative
}

.navbar .nav-list{
  display: flex;
}

.navbar .nav-list li{
  padding: 0 15px;
}

.navbar .nav-list .link{
  color: #fff;
}

.logo-content img {
  height: 100px;
  padding-left: 25px;
}

.profile{
  display: flex;
  color: #fff;
}

.profile .link{
  margin: 0 15px;
  color: #fff;
}
