.video{
  border: 1px solid #000;
  padding: 5px;
  margin: 5px 5px;
  cursor: pointer;
}

.search-containers{
  @apply  bg-cinza-400  min-w-[50%] pl-3 pr-3 rounded-xl shadow-md   mb-4
}
.title-video{
  @apply h-[110px] w-[150px] min-h-[110px] min-w-[150px] pl-2 pr-2 pt-1  
  bg-verde-100 flex items-center justify-center text-center text-cinza-100 font-semibold
}
.list-videos{
  @apply w-full h-28 bg-cinza-400 shadow-md rounded mb-3 flex items-center pr-4 justify-between text-cinza-200
}
